version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: lumina_db
    environment:
      POSTGRES_DB: lumina_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - lumina_network

volumes:
    postgres_data:

networks:
    lumina_network:
      driver: bridge