spring:
  application:
    name: lumina-api
  datasource:
    url: jdbc:postgresql://localhost:5433/lumina_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

security:
    jwt:
        secret-key: ${JWT_SECRET_KEY}
        expiration: 600000 # = 10 minutes in ms